@import "tailwindcss";

body {
  background-color: #151519; //#151519
  font-family:'Inter';
}

.dt-layout-row:has(.dt-search),
.dt-layout-row:has(.dt-length),
.dt-layout-row:has(.dt-paging) {
  display: none !important;
}

//bg-stone-900/40